.myButton {
  width: 146px;
  height: 48px;
  border-radius: 50px;
  border: none;
  padding: 12px, 40px, 12px, 40px;
  gap: 10px;
  background: #3678B4;
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}


